body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }
  
  /* Container for the entire app */
  .app-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff; /* White background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Header styling */
  .header {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #00a859; /* Green color */
    background-color: #fff; /* White background */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 40px; /* Increased space after the header */
  }
  
  /* Input container styling */
  .input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  /* Label styling */
  label {
    margin-bottom: 5px;
    color: #000; /* Dark black color */
    font-weight: bold;
  }
  
  /* Input styling */
  input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #000; /* Dark black border */
    width: calc(100% - 18px); /* Adjust the input width */
  }
  
  /* Button styling */
  button {
    background-color: #00a859; /* Green color */
    color: #fff; /* White color */
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-top: 10px; /* Adjust margin from the top */
    margin-right: 10px; /* Add space between buttons */
  
  }
  
  
  /* Medicine list styling */
  .medicine-list {
    margin-top: 20px;
  }
  
  /* List item styling */
  li {
    margin-bottom: 20px; /* Increase spacing between list items */
    padding: 15px;
    background-color: #f2f2f2; /* Light gray background */
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex; /* Display list items as flex containers */
    justify-content: space-between; /* Space items evenly */
    align-items: center; /* Center items vertically */
  }
  
  /* Medicine details styling */
  .medicine-details {
    font-size: 16px;
  }
  
  .medicine-details strong {
    color: #00a859; /* Green color for labels */
    margin-right: 8px; /* Adjust margin to the right of labels */
  }
  
  /* Hover effect for list items */
  li:hover {
    transform: scale(1.03); /* Slightly scale up on hover */
  }
  
  /* Update message box styling */
  .update-message-box {
    background-color: #fff; /* White background */
    color: #000; /* Black font color */
    padding: 10px;
    margin-top: 10px; /* Adjust margin from the top */
    margin-left: 7px;
    margin-bottom: 18px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }